#%Module1.0################
##

module-whatis {{ about.description }}

{% if 'help' in about and about.help %}
proc ModulesHelp { } {
  puts stdout "\n"
  {% for line in about.help.split('\n') %}
  puts stdout "{{ line }}\n"
  {% endfor %}
  puts stdout "\n"
}
{% endif %}

conflict {{ env("software") }}

{% if require is defined %}
{% for module in require %}
module load {{module}}
{% endfor %}
{% endif %}

{# ### CONDA ENV VARIABLES ### #}
{% if deployment == "conda" %}
{% if 'bin' in env("env_content") %}
prepend-path PATH {{ env("env_path") }}/bin
{% endif %}
{% if 'lib' in env("env_content") %}
prepend-path LD_LIBRARY_PATH {{ env("env_path") }}/lib
{% endif %}
{% if 'include' in env("env_content") %}
prepend-path CPATH {{ env("env_path") }}/include
{% endif %}
{% if 'man' in env("env_content") %}
prepend-path MANPATH {{ env("env_path") }}/man
{% endif %}
{% endif %}
