#%Module1.0################
##

module-whatis {{ about.description }}

{% if 'help' in about and about.help %}
proc ModulesHelp { } {
  puts stdout "\n"
  {% for line in about.help.split('\n') %}
  puts stdout "{{ line }}\n"
  {% endfor %}
  puts stdout "\n"
}
{% endif %}

conflict {{ env("software") }}

module load singularity

{% if require is defined %}
{% for module in require %}
module load {{module}}
{% endfor %}
{% endif %}

prepend-path PATH {{ env("wrappers_path") }}
